---
import { Icon } from 'astro-icon/components'

type Props = {}

const {} = Astro.props
---

<div class="flex items-center gap-3">
	<Icon name="moon" class="text-2xl" />
	<label for="toggle" class="block">
		<!-- <input type="checkbox" name="toggle" id="toggle" class="h-0 w-0" /> -->
		<span class="block w-14 rounded-3xl bg-pink-100 p-1">
			<span class="block min-h-5 min-w-5 max-w-5 rounded-full bg-pink-500"></span>
		</span>
	</label>
	<Icon name="sun" class="text-2xl" />
</div>

<style></style>
