---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import avatar from '@/assets/avatar.png'
import { cn } from '@/utils/class-name'

type Props = {
	className?: string
}

const { className } = Astro.props
---

<section
	class={cn('flex flex-col  md:flex-row gap-3 md:items-end md:gap-28 lg:gap-52 ', className)}
	data-section="hero"
>
	<div>
		<div class="flex origin-left -rotate-12 items-center gap-5">
			<Image src={avatar} alt={'A man with glasses'} class={'w-14 h-14 md:w-28 md:h-28'} />
			<Icon name="arrow" class="mt-auto h-9 w-9 rotate-90 md:h-20 md:w-20" />
			<p
				class="text-stroke inline-block bg-pink-200 font-hand text-xl md:text-3xl md:leading-relaxed"
			>
				Aron
			</p>
		</div>
		<h1 class="text-3xl font-semibold text-neutral-900 md:text-6xl">
			Web <span class="relative inline-block">
				<span class="display-block absolute bottom-0 h-5 w-full bg-pink-200"></span>
				<span class="relative">Developer</span>
			</span>
		</h1>
	</div>
	<div class="flex flex-col items-start gap-4">
		<p class="text-sm text-neutral-800 md:text-base lg:text-xl">
			Enfocado en la creación de experiencias de usuario dinámicas usando<strong>
				React, TypeScript, CSS y HTML
			</strong>. Mi experiencia como Full-Stack me proporcionó una comprensión profunda de la
			arquitectura web.
		</p>
		<div class="flex items-center gap-2 text-neutral-600">
			<Icon name="globe" class="h-5 w-5" />
			<span class="text-sm">Moqueua - Perú</span>
		</div>
		<!-- <a class="bg-black px-4 py-2 font-semibold text-white">Hire me</a> -->
	</div>
</section>

<style></style>
