---
type Props = {}

const {} = Astro.props
---

<section class="flex flex-col items-start gap-3">
	<h1 class="text-3xl font-semibold">Frontend Developer</h1>
	<p>I’ll design your website and will develop to land it on internet using No-code</p>

	<a class="bg-black px-4 py-2 font-semibold text-white">Hire me</a>
</section>

<style></style>
