---
import { cn } from '@/utils/class-name'
type Props = {}

const {} = Astro.props
---

<span class={cn('border-2 rounded border-neutral-900 shadow-sm  bg-pink-200 px-3 py-1')}>
	<slot />
</span>

<style></style>
