---
import Logo from './Logo.astro'

type Props = {}

const {} = Astro.props
---

<footer
	class="relative flex flex-col gap-4 pb-6 pt-16 md:flex-row md:items-start md:justify-between md:pb-14 md:pt-20"
>
	<div
		class="absolute left-0 right-0 top-0 min-w-full border-t-[3px] border-neutral-900 lg:-ml-36 lg:mr-[calc((100vw-100%)*-1/2)]"
	>
	</div>
	<Logo />
	<div class="flex flex-col md:items-center">
		<ul class="mb-3 flex gap-10 md:text-3xl md:leading-relaxed">
			<li>
				<a
					href="https://www.linkedin.com/in/aronft/"
					target="_blank"
					rel="noopener noreferrer"
					class="text-strok bg-neutral-900 font-hand text-white">LinkedIn</a
				>
			</li>
			<li>
				<a
					href="https://github.com/aronft"
					target="_blank"
					rel="noopener noreferrer"
					class="text-strok bg-neutral-900 font-hand text-white">Github</a
				>
			</li>
		</ul>
		<div class="flex flex-col justify-between gap-3 sm:flex-row sm:items-center md:flex-col">
			<p class="md:text-center md:text-2xl">
				Copyright © <a
					href="https://github.com/aronft"
					class="hover:underline"
					target="_blank"
					rel="noopener noreferrer">aronft</a
				>
				{new Date().getFullYear()}
			</p>
			<p class="text-gray-700 md:text-center md:text-2xl">
				Inspirado en <a
					href="https://www.figma.com/@zainabnisa"
					class="hover:underline"
					target="_blank"
					rel="noopener noreferrer">Zainab Nisa</a
				>
			</p>
		</div>
	</div>
</footer>

<style></style>
