---
import Logo from "./Logo.astro";

type Props = {};

const {} = Astro.props;
---

<footer>
    <Logo />
    <div>
        <ul>
            <li>
                <a href="">LinkedIn</a>
            </li>
        </ul>
        <p>Copyright. Portfolio {new Date().getFullYear()}</p>
    </div>
</footer>

<style></style>
