---
import Container from '@/layouts/Container.astro'
import Logo from './Logo.astro'

type Props = {}

const {} = Astro.props
---

<header class="fixed left-0 w-full">
	<Container className="">
		<div class="flex items-center justify-between pl-6 pt-11 lg:justify-end lg:gap-12">
			<Logo />
			<nav>
				<ul class="flex gap-6 text-neutral-900 md:text-2xl">
					<li>
						<a href="" class="">Experience</a>
					</li>
					<li>
						<a href="" class="">Projects</a>
					</li>
				</ul>
			</nav>
		</div>
	</Container>
</header>

<style></style>
