---
import Logo from './Logo.astro'

type Props = {}

const {} = Astro.props
---

<header class="container fixed flex w-full items-center justify-between px-6">
	<Logo />
	<nav>
		<ul class="flex gap-6">
			<li>
				<a href="" class="">Portfolio</a>
			</li>
			<li>
				<a href="" class="">Hire me</a>
			</li>
		</ul>
	</nav>
</header>

<style></style>
