---
import { Image } from 'astro:assets'

import star from '@/assets/star.svg'
---

<a href="#" class="flex items-center gap-2">
	<Image src={star} alt="Star" class="h-7 w-7" />
	<span class="text-stroke pt-0.5 font-hand text-xl text-neutral-900 md:text-4xl">Aron</span>
</a>

<style></style>
