---
import '@/styles/fonts.css'
import '@/styles/global.css'

import Footer from '@/components/common/Footer.astro'
import Header from '@/components/common/Header.astro'
import Container from './Container.astro'

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="">
		<Container className="min-h-[100dvh] ">
			<div class="bg-pattern border-x-3 border-neutral-900 bg-cover bg-no-repeat px-6">
				<Header />
				<main class="">
					<slot />
				</main>
				<Footer />
			</div>
		</Container>
		<style is:global>
			body {
				font-family: 'Inter';
			}
			.bg-pattern {
				background: radial-gradient(circle, #e8e8e8 10%, transparent 11%);
				background-color: rgba(0, 0, 0, 0);
				background-size: auto;
				background-size: 1em 1em;
				background-color: #ffffff;
				opacity: 1;
			}
		</style>
	</body>
</html>
