---
import { Image } from 'astro:assets'
import arrow from '@/assets/arrow.svg'
import { cn } from '@/utils/class-name'
import { Icon } from 'astro-icon/components'

type Props = {
	title: string
	subtitle: string
	className?: string
	id: string
}

const { title, subtitle, className, id } = Astro.props
---

<section class={cn('flex flex-col gap-3 items-start', className)} id={id} data-section={id}>
	<h2 class="text-stroke mb-3 inline-block bg-pink-200 font-hand lg:text-4xl lg:leading-relaxed">
		{title}
	</h2>
	<Icon name="arrow" class="mb-5 h-6 w-9 md:h-20 md:w-20" />
	<p class="mb-8 max-w-44 md:max-w-none lg:text-2xl">{subtitle}</p>
	<slot />
</section>

<style></style>
