---
import { cn } from '@/utils/class-name'

type Props = {
	className?: string
	id: string
}

const { className, id } = Astro.props
---

<section class={cn('', className)} id={id} data-section={id}>
	<slot />
</section>

<style></style>
